* {
  box-sizing: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  box-sizing: border-box;
} */

body {
  /* background-color: #c0c0c0; */
  font-family: "Varela Round", sans-serif;
  /* line-height: 1.5; */
  /* line-height: 1.8; */
  /* margin: 0; */
  /* min-block-size: 100vh; */
  /* padding: 5vmin; */
}

h2 {
  font-size: 1.75rem;
  text-align: center;
}
.forms {
  /* background-color: #fff; */
}

input {
  background-image: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

/* ---------- ALIGN ---------- */
.align {
  display: grid;
  place-items: center;
  /* background-color: #c0c0c0; */
  background: #fff;
  font-family: "Varela Round", sans-serif;
  line-height: 1.5;
  /* line-height: 1.8; */
  margin: 0;
  min-block-size: 100vh;
  padding: 5vmin;
}

/* ---------- BUTTON ---------- */

.button {
  /* background-color: #4158d0; */
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.3s ease;
  color: #fff;
  padding: 0.25em 1.5em;
  font-weight: bold;
  border: none;
  /* padding: 0.74em 1.58em; */
}

.button:focus,
.button:hover {
  background-color: #28ad63;
}

/* ---------- LOGIN ---------- */
.login {
  width: 400px;
}

.login__header {
  background-color: #fff;
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  color: #4158d0;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);
  padding: 1.25em 1.625em;
}

.login__form {
  color: #777;
  display: grid;
  border: none;
  gap: 0.875em;
  padding: 1.25em 1.625em;
  /* padding: 1.44em 1.24rem; */
}

.login input {
  border-radius: 0.1875em;
  min-height: 48px;
  border: none;
  min-width: 20rem;
}

.login input[type="email"],
.login input[type="password"] {
  /* background-color: #eee; */
  color: #777;
  border: none;
  padding: 0.25em 0.625em;
  width: 100%;
}

.login input[type="submit"] {
  display: block;
  outline: none;
  border: none;
  border-radius: 4rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-align: center;
  /* color: #4158d0; */
}

form .content {
  display: flex;
  height: 50px;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
}

label {
  margin-left: 10px;
}

.input-head {
  border: none;
  outline: 0;
}

.forgot-pwd {
  color: #4158d0;
}
.signup-link {
  color: black;
  opacity: 0.7;
}
