* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 50px;
  border: 1px solid #dfdfdf;
}

.div-header {
  width: 80%;
  height: 100%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.div-svg {
  height: 30px;
  width: 30px;
  padding: 0 20px;
  /* color: #fff; */
  /* background: red; */
}
.active {
  border-bottom: 2px solid firebrick;
}

.button-header {
  color: #fff;
  /* min-height: 50px; */
  width: 170%;

  outline: 0;
  text-align: center;
  font-style: normal;
  border-radius: 30px;
  /* border-radius: 20px; */
  /* margin-left: -22px; */
  border: none;
  font-size: 17px;
  /* font-weight: bold; */
  cursor: pointer;
  border: none;
  border: 1px solid #4158d0;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  background: #4158d0;
  /* background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  ); */
  transition: all 0.3s ease;
}
