*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-content-right {
  display: grid;
  place-items: center;
  background-color: #c0c0c0;
  /* background: #fff; */
  font-family: "Varela Round", sans-serif;
  width: 100%;
  line-height: 1.5;
  margin: 0;
  min-block-size: 100vh;
  padding: 5vmin;
}

body {
  font-family: "Nunito", sans-serif;
  /* color: #384047; */
}

form {
  background: #fff;
  border: 1 solid blue;
  padding: 10px 30px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

.form-head {
  /* background-color: #fff; */
  /* display: grid; */
  /* place-items: center; */
  /* background-color: #c0c0c0; */
  /* background: #fff; */
  font-family: "Varela Round", sans-serif;
  /* line-height: 1.5; */
  /* line-height: 1.8; */
  border: 4 solid blue;
  border-color: brown;
  margin: 0;
  /* min-block-size: 100vh; */
  /* width: 120%; */
  /* padding: 5vmin; */
}
.forms {
  /* max-width: 300px; */
  /* background-color: #fff; */
  /* margin: 10px auto; */
  /* background: rgba(255, 255, 255, 0.1); */
  /* padding: 10px 20px; */

  /* padding: 10px 30px; */
  border: 4 solid red;
  /* background: #f4f7f8; */
  /* border-radius: 8px; */
}

h1 {
  /* margin: 0 0 30px 0; */
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  /* background: rgba(255, 255, 255, 0.1); */
  border: none;
  /* font-size: 16px; */
  height: auto;
  /* margin: 0; */
  outline: 0;
  padding: 8px;
  width: 100%;
  background-color: #e8eeef;
  /* color: #8a97a0; */
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  /* margin-bottom: 30px; */
  margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  /* padding: 6px;
  height: 32px; */
  border-radius: 2px;
}

.form-input-btn {
  color: #fff;
  border: none;
  min-height: 50px;
  width: 100%;
  outline: 0;
  text-align: center;
  font-style: normal;
  border-radius: 30px;
  /* border-radius: 20px; */
  /* margin-left: -22px; */
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border: 1px solid #4158d0;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.3s ease;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

fieldset {
  /* margin-bottom: 30px; */
  border: none;
}

p {
  /* font-size: 1.4em; */
  text-align: center;
  font-weight: bold;
  /* margin-bottom: 10px; */
}

label {
  /* display: block; */
  /* margin-bottom: 8px; */
}

label.light {
  /* font-weight: 300; */
  display: inline;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
